---
import { Image } from 'astro:assets';

import Logo from "/public/logo.svg"
import ManCharacter from '../assets/man_avatar.png'
import ManCharacterLinkedIn from '../assets/man_avatar_3.png'
import WomanCharacter from '../assets/woman_avatar.png'
import WomanCharacter2 from '../assets/woman_avatar_2.png'

import ScibblePicker from '../assets/pick_scribble.png'


import Layout from "../layouts/Layout.astro";
import LinkedInPost from '../components/LinkedInPost.astro'
import Quote from '../components/Quote.astro'

import CardPicker from '../components/CardPicker.svelte';
---

<Layout title="FindYourChat">
    <body class="bvg-blue-accent max-w-screen-xl mx-auto">
        <section class="overflow-hidden relative bg-blue-accent">
            <div class="mx-auto max-w-7xl relative">
                <div
                    class="flex flex-col p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16"
                >
                    <div
                        class="flex flex-row items-center justify-between text-sm lg:justify-start"
                    >
                        <a href="/">
                            <div class="text-black font-bold text-2xl inline-flex items-center">
                                <!-- Logo (<span><svg>-->
                                <Image src={Logo} alt="Findyourchat logo" height="40px" />
                                <span class="text-lightblue-accent ml-1">Find</span>
                                <span class="text-white italic">Your</span>
                                <span class="text-yellow-accent">Chat</span>
                                <span class="text-yellow-accent">.</span>
                                <span class="text-dark">ai</span>
                            </div>
                        </a>
                    </div>
                    <nav
                        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row"
                    >
                        <div class="inline-flex items-center gap-2 list-none lg:ml-auto bg-yellow-accent rounded-full">
                            <a
                                href="/"
                                class="inline-flex items-center justify-center font-bold px-4 py-2 text-sm text-regent-900 bg-regent-300 rounded-full group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-white/5 active:bg-fuchsia-50 active:text-[#0c1824] focus-visible:outline-fuchsia-50"
                            >
                                Join the Waiting List
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
        <section class="bg-blue-accent relative items-center flex justify-center">
            <div
                class="mx-auto max-w-7xl items-center pt-12 lg:px-16 lg:pt-32 md:px-12 px-5 pb-8 lg:pb-32"
            >
                <div>
                    <div class="text-white text-center">
                        <p
                            class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl tracking-tighter font-medium"
                        >
                        Unlock Your <span class="block"
                                >Unique Writing Style</span
                            >
                        </p><p class="max-w-xl mt-12 mx-auto text-lg sm:text-xl md:text-2xl lg:text-3xl">
                            ✋ Stop sounding like everyone else ✋
                        </p>
                    </div>
                </div><div class="mx-auto max-w-7xl items-center mt-12">
                    <LinkedInPost name="John Doe" job="Influencer at Buzz Inc & Co" date="1d" post="Please no more ChatGPT posts.\nI am tired of it 😕😕" >
                        <Image src={ManCharacterLinkedIn} alt="profile picture bearded man" height="50" width="50" class="rounded-full shadow-md"/>
                    </LinkedInPost>
                </div>
            </div>
        </section>
        <section class="bg-purple-accent">
            <div
                class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pt-32 pb-8 lg:pb-32 space-y-12"
            >
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 text-white">
                    <div class="flex flex-col items-center grid-rows-2 gap-4">
                        <p class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl tracking-tighter font-medium lg:float-end">
                            Tailor ChatGPT to your Unique Personality
                        </p>
                        <p class="font-light text-md sm:text-lg md:text-xl lg:text-2xl">
                            Make ChatGPT write in your own unique style for all types of communications
                        </p>
                    </div>
                    <div>
                        <div class="relative w-full mx-auto max-w-7xl items-center">
                            <Quote post="Hey guys, can you give me a project Update?">
                                <Image src={WomanCharacter2} alt="picture of a formal woman in work attire" height="100" width="100" class="rounded-full shadow-md"/>
                            </Quote>
                            <Quote post="Hello Team, I'm reaching out to ask for a quick project update">
                                <Image src={ManCharacter} alt="picture of a casual man in work attire" height="130" width="130" class="rounded-full shadow-md"/>  
                            </Quote>
                            <Quote post="Dear Team, at your earliest convenience, I kindly request a project update.">
                                <Image src={WomanCharacter} alt="picture of a woman man in work attire" height="150" width="150" class="rounded-full shadow-md"/>  
                            </Quote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-rose-accent">
            <div
                class="items-center space w-full px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pt-32 pb-16 lg:pb-32"
            >
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-16">
                    <div>
                        <div class="flex justify-center items-center mb-2">
                            <Image src={ScibblePicker} alt="card picker chose your personality" height="120px" />
                        </div>
                        <CardPicker client:visible />
                    </div>
                    <div class="flex flex-col items-center  grid-rows-2 gap-4 text-white">
                        <p class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl tracking-tighter font-medium lg:float-end">
                            Create your own writing styles in Minutes
                        </p>
                        <p class="font-light text-md sm:text-lg md:text-xl lg:text-2xl">
                            Answer a few questions and we'll generate a writing style that's unique to you
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-lightblue-accent">
            <div class="mx-auto max-w-7xl items-center px-5 lg:px-16 pt-16 lg:pt-48 md:px-12 pb-32 lg:pb-72">
                <div>
                    <div class="text-center">
                        <p class="mt-8 mb-8 text-2xl lg:text-5xl">
                            <span class=" text-gray-800 sm:text-2xl md:text-4xl lg:text-5xl tracking-tighter font-medium "
                                >Join the waiting list for early access
                            </span>
                        </p>
                        <form class="mt-4 flex max-w-xl flex-col items-center mx-auto">
                            <div class="mt-3 flex w-full flex-col gap-1 sm:flex-row">
                                <input
                                    name="email"
                                    type="email"
                                    class="lg:px-12 px-6 py-4 bg-white placeholder-slate-400 border border-slate-300 duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300 w-full rounded-full shadow-md"
                                    placeholder="Enter your email..."
                                    required=""
                                /><button
                                    type="button"
                                    class="inline-flex items-center justify-center w-auto lg:px-12 px-6 py-4 text-center duration-200 bg-yellowX-accent font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white focus:ring-regent-900 ring-offset-2 hover:bg-regent-900 shadow-md"
                                    ><div style="position:relative "></div>Join</button
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-lightblue-accent">
            <div class="w-full lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-4">
                <div class="flex items-center justify-center">
                    <div class="mt-8 md:mt-0 md:order-1">
                        <p class="text-center">
                            <span class="text-sm italic mt-2 mx-auto">
                                © 2024 Grosch. All rights reserved - Designed with Astro and TailwindCSS
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</Layout>
