---
interface Props {
  title: string;
  body: string;
  footer: string;
  color: string;
  offsetX: string;
  offsetY: string;
}

const { footer, title, body, color, offsetX, offsetY } = Astro.props;
---

<div
  id=`card-${title}`
  class={`card ${color} w-[400px] h-[300px] ${offsetX} ${offsetY} p-8 rounded-xl drop-shadow-md font-cards first:mt-[0px] mt-[-305px] last:hover:translate-y-[-10px] transition-all delay-300 ease-out relative last:hover:drop-shadow-2xl will-change-transform`}
>
  <div class="flex flex-col justify-between opacity-80">
    <i class="fas fa-heart icon-heart"></i>
    <i class="fas fa-sun icon-sun"></i>
    <h2 class="card-title text-2xl font-light text-white mb-4 drop-shadow-sm">{title}</h2>
    <p class="card-content text-md text-white font-thin mb-4">
      {body}
    </p>
    <p class="footer-text text-white text-center text-sm">{footer}</p>
  </div>
</div>
