---
import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.svelte";

interface Props {
  title: string;
  description: string;
  image?: string;
  background?: string;
  logoBlack?: boolean;
  whiteGradient?: boolean;
}
const {
  title,
  description,
  image,
  background,
  logoBlack = false,
  whiteGradient = false,
} = Astro.props;
---

<Layout {title} {description} {image} {background} {whiteGradient}>
  <Navbar {logoBlack} hideUser={true} client:load />
  <div class="font-blog max-w-[640px] w-[calc(90%)] m-auto pb-8">
    <Prose>
      <slot />
    </Prose>
  </div>
</Layout>
